/* Reset some default browser styles */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
}

header {
    background: #1f1f1f;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #1e90ff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

nav ul li a:hover {
    color: #1e90ff;
}

section {
    padding: 4rem 1rem;
    padding-top: 6rem;
    /* Add extra padding to the top */
    max-width: 800px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

h1,
h2 {
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    margin-bottom: 1rem;
    text-align: center;
}

.portfolio-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    /* Adjust the max-width as necessary */
    display: block;
    margin: 1rem auto;
    /* Center the image */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.project {
    margin-bottom: 2rem;
}

.project-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    /* Adjust the max-width as necessary */
    display: block;
    margin: 1rem auto;
    /* Center the image */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    background: #2a2a2a;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #ffffff;
}

form input,
form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background: #333;
    color: #fff;
}

form button {
    padding: 0.5rem;
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover {
    background-color: #007acc;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}